#banner{
    width: 123px;
}

#textoinvisiblenav{
    color: transparent;
}

#ISForm{
    background-color: #82c577;
    width: 60%;
    padding: 15px;
}

h1{
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 20px;
}

#logo{
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

nav{
    font-weight: bold;
    color: #000;
}

/*ventas*/
#VForm{
    background-color: #82c577;
    width: 90%;
    padding: 15px;
}

#PForm{
    background-color: #82c577;
    width: 90%;
    padding: 15px;
}

#desc{
    width: 20%;
}

#des{
    width: 30%;
}

#canti{
    width: 10%;
}

#inputcant{
    width: 100%;
}

#nompro{
    width: 29%;
    border-color: transparent;
    padding: 6px;
}
#telpro{
    width: 19%;
    border-color: transparent;
    padding: 6px;

}
#dirpro{
    width: 49%;
    border-color: transparent;
    padding: 6px;

}
#corpro{
    width: 49%;
    border-color: transparent;
    padding: 6px;

}
#rfcpro{
    width: 49%;
    border-color: transparent;
    padding: 6px;
}
#propro{
    width: 49%;
    border-color: transparent;
    padding: 6px;
}
#emppro{
    width: 49%;
    border-color: transparent;
    padding: 6px;
}
#BPForm{
    background-color: #82c577;
    width: 90%;
    padding: 15px;
}
#buspro{
    width: 40%;
    border-color: transparent;
    padding: 6px;
    margin-left: 20%;
}
#inv{
    background-color: #82c577;
    padding: 15px;
    width: 90%;
}

.botonsubmit{
    color: blue;
    font-weight: bold;
    
}

#GForm{
    background-color: #82c577;
    width: 60%;
    padding: 15px;
}

#buspro1{
    width: 40%;
    border-color: transparent;
    padding: 6px;
    margin-left: 15%;
}

#FormVentas{
    background-color: #82c577;
    width: 95%;
    padding: 15px;
}